<% was_validated = cuisine_pairing.errors.any? %>

<%= form_with(model: cuisine_pairing, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for cuisine_id start -->
  <div class="form-group">
    <% cuisine_class = "form-control" %>
    <% cuisine_was_invalid = cuisine_pairing.errors.include?(:cuisine) %>

    <% if was_validated %>
      <% if cuisine_was_invalid %>
        <% cuisine_class << " is-invalid" %>
      <% else %>
        <% cuisine_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cuisine_id %>
    <!-- Input for cuisine_id start -->
    <%= f.collection_select :cuisine_id, Cuisine.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for cuisine_id end -->
    <% if cuisine_was_invalid %>
      <% cuisine_pairing.errors.full_messages_for(:cuisine).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for cuisine_id end -->
  <!-- Label and input for wine_id start -->
  <div class="form-group">
    <% wine_class = "form-control" %>
    <% wine_was_invalid = cuisine_pairing.errors.include?(:wine) %>

    <% if was_validated %>
      <% if wine_was_invalid %>
        <% wine_class << " is-invalid" %>
      <% else %>
        <% wine_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :wine_id %>
    <!-- Input for wine_id start -->
    <%= f.collection_select :wine_id, Wine.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for wine_id end -->
    <% if wine_was_invalid %>
      <% cuisine_pairing.errors.full_messages_for(:wine).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for wine_id end -->
  <!-- Label and input for description start -->
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = cuisine_pairing.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <!-- Input for description end -->
    <% if description_was_invalid %>
      <% cuisine_pairing.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for description end -->
  <!-- Label and input for share_link start -->
  <div class="form-group">
    <% share_link_class = "form-control" %>
    <% share_link_was_invalid = cuisine_pairing.errors.include?(:share_link) %>

    <% if was_validated %>
      <% if share_link_was_invalid %>
        <% share_link_class << " is-invalid" %>
      <% else %>
        <% share_link_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :share_link %>
    <!-- Input for share_link start -->
    <%= f.text_field :share_link, class: share_link_class, placeholder: "Enter share link" %>
    <!-- Input for share_link end -->
    <% if share_link_was_invalid %>
      <% cuisine_pairing.errors.full_messages_for(:share_link).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for share_link end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
