<%= form_with(model: @cuisine_pairing, local: true) do |f| %>

  <%= f.hidden_field :cuisine_id, value: @cuisine.id %>

  <div class="form-group">
    <%= f.label :wine_id %>

    <%= f.collection_select :wine_id, Wine.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :share_link %>

    <%= f.text_field :share_link, class: "form-control" %>
  </div>

  <%= f.submit "Create cuisine pairing", class: "btn btn-block btn-outline-secondary" %>
<% end %>
