<% was_validated = wine.errors.any? %>

<%= form_with(model: wine, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% varietal_class = "form-control" %>
    <% varietal_was_invalid = wine.errors.include?(:varietal) %>

    <% if was_validated %>
      <% if varietal_was_invalid %>
        <% varietal_class << " is-invalid" %>
      <% else %>
        <% varietal_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :varietal %>
    <%= f.text_field :varietal, class: varietal_class, placeholder: "Enter varietal" %>
    <% if varietal_was_invalid %>
      <% wine.errors.full_messages_for(:varietal).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
